* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.4;
    z-index: -1;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    overflow: hidden;
}

.container__contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container__informaciones {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.container__boton {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.container__boton:disabled {
    background: #898989;
    cursor: not-allowed;
}

.container__texto {
    margin-bottom: 16px;
}

.container__imagen-persona{
        max-width: 100%;
        height: auto;
        align-self: flex-end;
        margin-left: auto;
        margin-right: 20px;  
}

.container__input {
    width: 100%;
    max-width: 300px;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 48px;
    padding-bottom: 1rem;
    color: #ffffff;
}

p, button {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
}

.copyright{
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 10px;
    }

    .container__contenido {
        flex-direction: column;
    }

    .container__informaciones {
        max-width: 100%;
    }

    .container__texto h1 {
        font-size: 36px;
    }

    .container__input {
        width: 100%;
        max-width: 100%;
    }

    .container__botones {
        flex-direction: column;
    }

    .container__boton {
        width: 100%;
        margin-top: 1rem;
    }

    .container__imagen-persona {
        margin: 20px auto;
        align-self: center;
    }
}
